@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-1
{
    display:flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap:wrap;

}
img
{
    /* width:200px;
    height:200px; */
    margin-left: 0.2rem;
    margin-top: 10px;
    margin-bottom: 6px;
}

.logo-title
{
    text-align:right;
    font-weight:500;
}
.starting-intro
{
    font-size:35px;
    margin: 5px;
}
.starting-intro-hindi
{
    font-size:26px;
    margin: 5px;
}
.National-Importance
{
    padding: 5px 0px;
    margin: 5px;
    font-size: 25px;
}
.nav-bar {
  padding: 1.5rem 4rem 1.5rem 4rem;
  background-color: rgb(241, 235, 235);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem 0 2rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.4rem;
  font-weight: 550;
}
li {
  list-style-type: none;
}
